## Setup

In [1]:
#Setup
import pandas as pd 
import numpy as np
import os
import re
from unidecode import unidecode

## Load Data

In [2]:
#Carregando ficheiros de enrtrada e saída
entrada = 'estabelecimentos_SP.csv'
saída = 'estabelecimentos_SP_limpos.csv.gz'

In [3]:
#Lendo o arquivo de entrada
df = pd.read_csv(entrada, encoding = 'latin1')

C:\Users\Felipe\AppData\Local\Temp\ipykernel_14444\2112980899.py:2: DtypeWarning: Columns (8,22,24,25,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(entrada, encoding = 'latin1')

## Data Understanding

In [4]:
#Primeiras linhas
df.head()

,CNPJ_BASICO,CNPJ_ORDEM,CNPJ_DV,IDENTIFICADOR_MATRIZ_FILIAL,NOME_FANTASIA,SITUACAO_CADASTRAL,DATA_SITUACAO_CADASTRAL,MOTIVO_SITUACAO_CADASTRAL,NOME_CIDADE_EXTERIOR,PAIS,...,MUNICIPIO,DDD_1,TELEFONE_1,DDD_2,TELEFONE_2,DDD_FAX,FAX,EMAIL,SITUACAO_ESPECIAL,DATA_SITUACAO_ESPECIAL
0,37220018,1,9,1,ANTONIO HERCULANO DA MOTA,8,20230530,1,NaN,NaN,...,7075,11.0,41014141.0,NaN,NaN,NaN,NaN,HERCULANOANTONIO23@GMAIL.COM,NaN,NaN
1,37318263,1,53,1,NaN,2,20200604,0,NaN,NaN,...,6377,11.0,80594733.0,NaN,NaN,NaN,NaN,VALERIA.POLIANA93@GMAIL.COM,NaN,NaN
2,37364869,1,25,1,NaN,8,20220831,1,NaN,NaN,...,7075,11.0,43350869.0,NaN,NaN,NaN,NaN,PESSOAL1@3ECONTABILIDADE.COM.BR,NaN,NaN
3,37406207,1,70,1,NaN,2,20200615,0,NaN,NaN,...,7075,11.0,84027546.0,NaN,NaN,NaN,NaN,PAULAPIOLA07@GMAIL.COM,NaN,NaN
4,37443430,1,98,1,NaN,4,20221201,63,NaN,NaN,...,6377,11.0,93229815.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#Ultimas linhas
df.tail()

,CNPJ_BASICO,CNPJ_ORDEM,CNPJ_DV,IDENTIFICADOR_MATRIZ_FILIAL,NOME_FANTASIA,SITUACAO_CADASTRAL,DATA_SITUACAO_CADASTRAL,MOTIVO_SITUACAO_CADASTRAL,NOME_CIDADE_EXTERIOR,PAIS,...,MUNICIPIO,DDD_1,TELEFONE_1,DDD_2,TELEFONE_2,DDD_FAX,FAX,EMAIL,SITUACAO_ESPECIAL,DATA_SITUACAO_ESPECIAL
6123516,58782824,1,40,1,NaN,2,20250111,0,NaN,NaN,...,6889,14.0,97843976.0,NaN,NaN,NaN,NaN,ABERTURA@MAISMEI.COM.BR,NaN,NaN
6123517,58782854,1,57,1,NaN,2,20250111,0,NaN,NaN,...,6249,18.0,97440679.0,NaN,NaN,NaN,NaN,CAMILA.QUICOLI@GMAIL.COM,NaN,NaN
6123518,58782885,1,8,1,NaN,2,20250111,0,NaN,NaN,...,7107,11.0,45201206.0,NaN,NaN,NaN,NaN,BFMULTICENTER@GMAIL.COM,NaN,NaN
6123519,58782907,1,30,1,NaN,2,20250111,0,NaN,NaN,...,6291,19.0,99374420.0,NaN,NaN,NaN,NaN,FERREIRAWILIANS8@GMAIL.COM,NaN,NaN
6123520,58782918,1,10,1,NaN,2,20250111,0,NaN,NaN,...,7047,11.0,97975775.0,NaN,NaN,NaN,NaN,ELIANEPEREIRA20019@GMAIL.COM,NaN,NaN

In [6]:
#Amostra aleatória
df.sample(5)

,CNPJ_BASICO,CNPJ_ORDEM,CNPJ_DV,IDENTIFICADOR_MATRIZ_FILIAL,NOME_FANTASIA,SITUACAO_CADASTRAL,DATA_SITUACAO_CADASTRAL,MOTIVO_SITUACAO_CADASTRAL,NOME_CIDADE_EXTERIOR,PAIS,...,MUNICIPIO,DDD_1,TELEFONE_1,DDD_2,TELEFONE_2,DDD_FAX,FAX,EMAIL,SITUACAO_ESPECIAL,DATA_SITUACAO_ESPECIAL
2869510,57367781,1,74,1,MOGI ALHOS,2,20001209,0,NaN,NaN,...,6713,11.0,47990823,NaN,NaN,NaN,NaN,ENCONTABILIDADE@YAHOO.COM,NaN,NaN
5439194,34083879,1,2,1,NaN,8,20240124,1,NaN,NaN,...,7107,11.0,57717664.0,NaN,NaN,NaN,NaN,lsepulvida94@gmail.com,NaN,NaN
13600,38352345,1,87,1,BEARIT,2,20200904,0,NaN,NaN,...,7107,11.0,48831550.0,NaN,NaN,NaN,NaN,CONTATO@CONTARO.COM.BR,NaN,NaN
1843123,37755746,1,15,1,FOGAZZARIA SOUZA,8,20230613,1,NaN,NaN,...,6425,16.0,99975003.0,NaN,NaN,NaN,NaN,LAERCIOMISAEL@GMAIL.COM,NaN,NaN
1964742,42198287,1,56,1,NaN,2,20210604,0,NaN,NaN,...,6229,18.0,36411868.0,NaN,NaN,NaN,NaN,ESCRITORIOREAL@ESCRITORIOREALBIRIGUI.COM.BR,NaN,NaN

In [7]:
#Dimensão dos dados 
df.shape

(6123521, 30)

In [8]:
#Infos 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6123521 entries, 0 to 6123520
Data columns (total 30 columns):
 #   Column                       Dtype
---  ------                       -----
 0   CNPJ_BASICO                  int64
 1   CNPJ_ORDEM                   int64
 2   CNPJ_DV                      int64
 3   IDENTIFICADOR_MATRIZ_FILIAL  int64
 4   NOME_FANTASIA                object
 5   SITUACAO_CADASTRAL           int64
 6   DATA_SITUACAO_CADASTRAL      int64
 7   MOTIVO_SITUACAO_CADASTRAL    int64
 8   NOME_CIDADE_EXTERIOR         object
 9   PAIS                         float64
 10  DATA_INICIO_ATIVIDADE        int64
 11  CNAE_PRINCIPAL               int64
 12  CNAE_SECUNDARIOS             object
 13  TIPO_LOGRADOURO              object
 14  LOGRADOURO                   object
 15  NUMERO                       object
 16  COMPLEMENTO                  object
 17  BAIRRO                       object
 18  CEP                          float64
 19  UF                           object
 20  MUNICIPIO                    int64
 21  DDD_1                        float64
 22  TELEFONE_1                   object
 23  DDD_2                        float64
 24  TELEFONE_2                   object
 25  DDD_FAX                      object
 26  FAX                          object
 27  EMAIL                        object
 28  SITUACAO_ESPECIAL            object
 29  DATA_SITUACAO_ESPECIAL       float64
dtypes: float64(5), int64(10), object(15)
memory usage: 1.4+ GB

In [9]:
#Infos descritivas
df.describe()

,CNPJ_BASICO,CNPJ_ORDEM,CNPJ_DV,IDENTIFICADOR_MATRIZ_FILIAL,SITUACAO_CADASTRAL,DATA_SITUACAO_CADASTRAL,MOTIVO_SITUACAO_CADASTRAL,PAIS,DATA_INICIO_ATIVIDADE,CNAE_PRINCIPAL,CEP,MUNICIPIO,DDD_1,DDD_2,DATA_SITUACAO_ESPECIAL
count,6.123521e+06,6.123521e+06,6.123521e+06,6.123521e+06,6.123521e+06,6.123521e+06,6.123521e+06,81212.000000,6.123521e+06,6.123521e+06,6.123519e+06,6.123521e+06,5.080672e+06,546898.000000,3.499000e+03
mean,3.452164e+07,6.076490e+00,4.501077e+01,1.049657e+00,4.852234e+00,2.013449e+07,1.557999e+01,105.187977,2.012067e+07,5.784704e+06,1.034420e+07,6.770558e+03,1.763978e+01,12.573644,2.013967e+07
std,1.895198e+07,1.369478e+02,3.043476e+01,2.172348e-01,2.811488e+00,8.760104e+05,2.738964e+01,10.034693,1.288338e+05,2.442204e+06,5.219382e+06,5.927387e+02,1.436696e+02,6.955600,8.875977e+04
min,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,23.000000,1.199062e+07,1.113010e+05,0.000000e+00,7.900000e+02,0.000000e+00,0.000000,1.972061e+07
25%,1.807480e+07,1.000000e+00,1.700000e+01,1.000000e+00,2.000000e+00,2.015012e+07,0.000000e+00,105.000000,2.007031e+07,4.712100e+06,5.574450e+06,6.495000e+03,1.100000e+01,11.000000,2.008066e+07
50%,3.714942e+07,1.000000e+00,4.400000e+01,1.000000e+00,4.000000e+00,2.020110e+07,1.000000e+00,105.000000,2.017063e+07,5.229099e+06,1.145100e+07,7.007000e+03,1.100000e+01,11.000000,2.017063e+07
75%,5.016928e+07,1.000000e+00,7.100000e+01,1.000000e+00,8.000000e+00,2.023052e+07,1.000000e+00,105.000000,2.021123e+07,8.211300e+06,1.411000e+07,7.107000e+03,1.600000e+01,17.000000,2.021076e+07
max,9.852225e+07,9.998000e+03,9.900000e+01,2.000000e+00,8.000000e+00,2.025011e+07,8.000000e+01,863.000000,2.025011e+07,9.900800e+06,5.725000e+07,7.273000e+03,9.999000e+03,99.000000,2.025010e+07

In [10]:
#Verificando total de nulos por colunas
df.isnull().sum()

CNPJ_BASICO                          0
CNPJ_ORDEM                           0
CNPJ_DV                              0
IDENTIFICADOR_MATRIZ_FILIAL          0
NOME_FANTASIA                  4155547
SITUACAO_CADASTRAL                   0
DATA_SITUACAO_CADASTRAL              0
MOTIVO_SITUACAO_CADASTRAL            0
NOME_CIDADE_EXTERIOR           6123520
PAIS                           6042309
DATA_INICIO_ATIVIDADE                0
CNAE_PRINCIPAL                       0
CNAE_SECUNDARIOS               3389524
TIPO_LOGRADOURO                  20841
LOGRADOURO                          18
NUMERO                             155
COMPLEMENTO                    3952943
BAIRRO                           12109
CEP                                  2
UF                                   0
MUNICIPIO                            0
DDD_1                          1042849
TELEFONE_1                     1042829
DDD_2                          5576623
TELEFONE_2                     5577332
DDD_FAX                        5359245
FAX                            5359138
EMAIL                          1586733
SITUACAO_ESPECIAL              6120022
DATA_SITUACAO_ESPECIAL         6120022
dtype: int64

In [11]:
#Valores únicos
df.nunique()

CNPJ_BASICO                    5950916
CNPJ_ORDEM                        4827
CNPJ_DV                            100
IDENTIFICADOR_MATRIZ_FILIAL          2
NOME_FANTASIA                  1666521
SITUACAO_CADASTRAL                   5
DATA_SITUACAO_CADASTRAL          16334
MOTIVO_SITUACAO_CADASTRAL           46
NOME_CIDADE_EXTERIOR                 1
PAIS                                36
DATA_INICIO_ATIVIDADE            19997
CNAE_PRINCIPAL                    1311
CNAE_SECUNDARIOS                738081
TIPO_LOGRADOURO                    345
LOGRADOURO                      594884
NUMERO                           60109
COMPLEMENTO                     492981
BAIRRO                          172122
CEP                             273075
UF                                   1
MUNICIPIO                          645
DDD_1                              265
TELEFONE_1                     3472869
DDD_2                               98
TELEFONE_2                      212261
DDD_FAX                            296
FAX                             203118
EMAIL                          3223002
SITUACAO_ESPECIAL                    8
DATA_SITUACAO_ESPECIAL            2536
dtype: int64

In [12]:
#Dados duplicados
df.duplicated().sum()

#Remover duplicados exatos
df = df.drop_duplicates()

**Colunas Categóricas e Numéricas**

In [13]:
#Selecionando colunas catégoricas e numéricas
cat_cols = df.select_dtypes(include= ['object','category']).columns

num_cols = df.select_dtypes(include = np.number).columns

In [14]:
print(f'Colunas Categóricas :{cat_cols}')
print(f'Colunas Numéricas : `{num_cols}')

Colunas Categóricas :Index(['NOME_FANTASIA', 'NOME_CIDADE_EXTERIOR', 'CNAE_SECUNDARIOS',
       'TIPO_LOGRADOURO', 'LOGRADOURO', 'NUMERO', 'COMPLEMENTO', 'BAIRRO',
       'UF', 'TELEFONE_1', 'TELEFONE_2', 'DDD_FAX', 'FAX', 'EMAIL',
       'SITUACAO_ESPECIAL'],
      dtype='object')
Colunas Numéricas : `Index(['CNPJ_BASICO', 'CNPJ_ORDEM', 'CNPJ_DV', 'IDENTIFICADOR_MATRIZ_FILIAL',
       'SITUACAO_CADASTRAL', 'DATA_SITUACAO_CADASTRAL',
       'MOTIVO_SITUACAO_CADASTRAL', 'PAIS', 'DATA_INICIO_ATIVIDADE',
       'CNAE_PRINCIPAL', 'CEP', 'MUNICIPIO', 'DDD_1', 'DDD_2',
       'DATA_SITUACAO_ESPECIAL'],
      dtype='object')

In [15]:
#Normalizando colunas categóricas
for col in cat_cols:
    if col in df.columns:  #preencher nulos com vazios, converter p str e maisculas e removendo acentos/espaços
        df[col] = df[col].fillna('').astype(str).apply(lambda x: unidecode(x).strip().upper())

In [16]:
#Criar CNPJ como string (preservando zeros a esquerda)
df['CNPJ_BASICO'] = df['CNPJ_BASICO'].fillna('').astype(str).str.zfill(8) #colocando espaços nos nulos, convertendo p str e colocando 0 a esquerda.
df['CNPJ_ORDEM'] = df['CNPJ_ORDEM'].fillna('').astype(str).str.zfill(4)
df['CNPJ_DV'] = df['CNPJ_DV'].fillna('').astype(str).str.zfill(2)

In [17]:
#Formar CNPJ completo com concatenação
df['CNPJ'] = df['CNPJ_BASICO'] + df['CNPJ_ORDEM'] + df['CNPJ_DV']

In [18]:
#Remover CNPJS com menos de 14 dígitos (inválidos)
df = df[df['CNPJ'].str.len()==14]

In [19]:
#Remover duplicados com base apenas no CNPJ
df = df.drop_duplicates(subset='CNPJ')

In [20]:
#Converter colunas de datas
col_datas = ['DATA_SITUACAO_CADASTRAL', 'DATA_INICIO_ATIVIDADE', 'DATA_SITUACAO_ESPECIAL']

for col in col_datas:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], errors='coerce', format='%Y%m%d')

In [21]:
#Salvar ficheiro limpo
df.to_csv(saída, index=False, encoding='utf-8',  compression='gzip')

In [23]:
#Salvar em parquet para otimizar o funcionamento
df.to_parquet('estabelecimentos_SP_limpos.parquet', 
              index=False, 
              engine='pyarrow',  # especificar o engine
              compression='gzip')  # compactar também o Parquet

## Lendo novo arquivo limpo e compactado

In [24]:
#Ler o arquivo Parquet
df_sp_limpo = pd.read_parquet('estabelecimentos_SP_limpos.parquet', engine='pyarrow')

In [25]:
df_sp_limpo.head()

,CNPJ_BASICO,CNPJ_ORDEM,CNPJ_DV,IDENTIFICADOR_MATRIZ_FILIAL,NOME_FANTASIA,SITUACAO_CADASTRAL,DATA_SITUACAO_CADASTRAL,MOTIVO_SITUACAO_CADASTRAL,NOME_CIDADE_EXTERIOR,PAIS,...,DDD_1,TELEFONE_1,DDD_2,TELEFONE_2,DDD_FAX,FAX,EMAIL,SITUACAO_ESPECIAL,DATA_SITUACAO_ESPECIAL,CNPJ
0,37220018,0001,09,1,ANTONIO HERCULANO DA MOTA,8,2023-05-30,1,,NaN,...,11.0,41014141.0,NaN,,,,HERCULANOANTONIO23@GMAIL.COM,,NaT,37220018000109
1,37318263,0001,53,1,,2,2020-06-04,0,,NaN,...,11.0,80594733.0,NaN,,,,VALERIA.POLIANA93@GMAIL.COM,,NaT,37318263000153
2,37364869,0001,25,1,,8,2022-08-31,1,,NaN,...,11.0,43350869.0,NaN,,,,PESSOAL1@3ECONTABILIDADE.COM.BR,,NaT,37364869000125
3,37406207,0001,70,1,,2,2020-06-15,0,,NaN,...,11.0,84027546.0,NaN,,,,PAULAPIOLA07@GMAIL.COM,,NaT,37406207000170
4,37443430,0001,98,1,,4,2022-12-01,63,,NaN,...,11.0,93229815.0,NaN,,,,,,NaT,37443430000198

In [27]:
df_sp_limpo.shape

(6123521, 31)